
    .intestazione{padding: 3px;
    background-color: gold;
    text-align: center;
    border-style: solid;
    border-color: darkcyan ;
    border-width: 4px;
    border-radius: 25px;
    }
    .gatto{
        font-size: medium;
        color: black 
    }
    .contenitore{
        border-style: solid;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 200px;
        left: 200px;
    }
    .simbolo{
        font-size: 40px;
    }